body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Print preview page break rules */
.page {
  overflow: visible !important;
  break-inside: avoid !important;
  page-break-inside: avoid !important;
  position: relative;
}

.page-paragraph,
.page p,
.page span {
  break-inside: avoid !important;
  page-break-inside: avoid !important;
}
